[Unit]
Description=Breviare URL Shortener
After=network.target postgresql.service

[Service]
User=ubuntu
WorkingDirectory=/opt/breviare
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=prod /opt/breviare/breviare-0.0.1-SNAPSHOT.jar
Restart=on-failure
RestartSec=10

EnvironmentFile=/opt/breviare/.env

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
